.flex-container { 
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
  
.row { 
    -webkit-flex-direction: row; 
    flex-direction: row;
}
  
.row-reverse { 
    -webkit-flex-direction: row-reverse; 
    flex-direction: row-reverse;
}  

.menuItem {
    text-decoration: none;
    padding: 5px;
    margin: 5px 10px;
    font-weight: bolder;
}